<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista</title>
    <link rel="icon" href="images/conex.png">
    <link rel="stylesheet" href="/css/dashboard.css"> 
    <link rel="stylesheet" href="static/ass/styles">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/2da8e91210.js" crossorigin="anonymous"></script>
</head>
<body>
<main>
<section id="section-form">
    <form class="form" method="POST" action="/users" enctype="multipart/form-data">
    
        <h1>Total Usuarios <div><%= users[0].total%></div></h1>
        </div> 
    </form>
</section>
<section id="section-table">
    <div class="table-container">
        <h2>Último Usuario registrado</h2>
        <table>
            <thead>
                <tr>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th>Nombre Completo</th>
                  <th>Teléfono</th>
                  <th>Correo electrónico</th>
                  <!-- <th>Contraseña</th> -->
                  <th>Imagen</th>
                  <th>Perfil</th>
                </tr>
            </thead>
            <tbody id="tbodyUsers">
               <tr>
                <th><a href="/profile/<%= users[1].data.id %>" class="fa-solid fa-user"></i></th>
                    <th><a href="/edit/<%= users[1].data.id %>" class="fa-solid fa-pen"></i></th>
                    <th><form action='/destroy/<%= users[1].data.id %>?_method=DELETE' method="post">
                      <button type="submit" id="delete-button" class="fa-solid fa-trash-can"></button></form></th>
                  <th><%= users[1].data.full_name%></th>
                  <th><%= users[1].data.phone_number%></th>
                  <th><%= users[1].data.email%></th>
                  <th><img style="max-width: 30px;" src="/images/profile/<%=users[1].data.avatar%>"</th>
                  <th><%= users[1].data.role%></th>
                </tr>
            </tbody>
        </table>
    </div>
</section>
</main>
</body>
</html>