<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista</title>
    <link rel="icon" href="images/conex.png">
    <link rel="stylesheet" href="/css/styles.css"> 
    <link rel="stylesheet" href="/css/dashboard.css"> 
    <link rel="stylesheet" href="static/ass/styles">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/2da8e91210.js" crossorigin="anonymous"></script>
</head>
<body>
    <%-include('./partials/header.ejs') %>
    <h2 class="dash-title">Registro de usuarios</h2>
<main>
    <section id="section-form">
        <form class="form" method="POST" action="/users" enctype="multipart/form-data">
        
            <h1>Total Usuarios <div><%= users[0].total%></div></h1>
            </div> 
        </form>
    </section>
    <section id="section-table">
        <div class="table-container">
            <h2>Último Usuario registrado</h2>
            <table>
                <thead>
                    <tr>
                      <th></th>
                      <th></th>
                      <th></th>
                      <th>Nombre Completo</th>
                      <th>Teléfono</th>
                      <th>Correo electrónico</th>
                      <!-- <th>Contraseña</th> -->
                      <th>Imagen</th>
                      <th>Perfil</th>
                    </tr>
                </thead>
                <tbody id="tbodyUsers">
                   <tr>
                    <th><a href="/profile/<%= users[1].data.id %>" class="fa-solid fa-user"></i></th>
                        <th><a href="/edit/<%= users[1].data.id %>" class="fa-solid fa-pen"></i></th>
                        <th><form action='/destroy/<%= users[1].data.id %>?_method=DELETE' method="post">
                          <button type="submit" id="delete-button" class="fa-solid fa-trash-can"></button></form></th>
                      <th><%= users[1].data.full_name%></th>
                      <th><%= users[1].data.phone_number%></th>
                      <th><%= users[1].data.email%></th>
                      <th><img style="max-width: 30px;" src="/images/profile/<%=users[1].data.avatar%>"</th>
                      <th><%= users[1].data.role%></th>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
<section id="section-form">
    <form class="form" id="registerForm" method="POST" action="/users" enctype="multipart/form-data">
    
        <h1>Agregar usuario</h1>
        <div class="form-container">
            
            <div class="input-container">
            <i class="fas fa-user icon" ></i>
            <input type="text" id="full_name" name="full_name" placeholder="Nombre completo" value="<%= locals.oldData ? oldData.full_name : "" %>">
            </div>
            <small style="color: red;" > <% if (locals.errors && errors.full_name) { %>
                <%= errors.full_name.msg %>
                <% } %>
            </small> <small style="color: red ;" id="errorFullName" ></small>
            <div class="input-container">
            <i class="fa-solid fa-phone icon"></i>
            <input type="tel" id="phone_number" name="phone_number" placeholder="Teléfono" value="<%= locals.oldData ? oldData.phone_number : "" %>">
            </div>
            <small style="color: red;" > <% if (locals.errors && errors.phone_number) { %>
                <%= errors.phone_number.msg %>
                <% } %>
            </small> <small style="color: red ;" id="errorPhoneNumber" ></small>

            <div class="input-container">
            <i class="fas fa-envelope icon"></i>
            <input type="text" id="email" name="email" placeholder="Correo electrónico" value="<%= locals.oldData ? oldData.email : "" %>">
            </div>
            <small style="color: red;" > <% if (locals.errors && errors.email) { %>
                <%= errors.email.msg %>
                <% } %>
            </small> <small style="color: red ;" id="errorEmail" ></small>

            <div class="input-container">
            <i class="fas fa-key icon"></i>
            <input type="password" id="password" name="password" placeholder="Contraseña" value="<%= locals.oldData ? oldData.password : "" %>">
            </div>
            <small style="color: red;" > <% if (locals.errors && errors.password) { %>
                <%= errors.password.msg %>
                <% } %>
            </small> <small style="color: red ;" id="errorPassword" ></small>
        
        <div class="profile-image">Elegí una foto de perfil:</label>
        <input type="file" id="avatar" name="avatar" id="profile-mage" value="<%= locals.oldData ? oldData.avatar : "" %>">
            </div>
            <small style="color: red;" > <% if (locals.errors && errors.avatar) { %>
                <%= errors.avatar.msg %>
                <% } %>
            </small> <small style="color: red ;" id="errorAvatar" ></small>
            <br>
            <div class="profile">
                <h4 class="user_profile">Perfil del usuario</h4>
                <br>
                    <input type="radio" name="role" value="user" id="user">
                    <label for="user">Usuario</label>
                    <input type="radio" name="role" value="admin" id="admin">
                    <label for="admin">Administrador</label><br>
                    <small style="color: red;"> <% if (locals.errors && errors.role) { %>
                        <%= errors.role.msg %>
                    <% } %> 
                    </small> <small style="color: red ;" id="errorRole" ></small>
            </div>
            <br>
             <input type="submit" value="Registrate" class="button">
             <br>
             <br>
        </div>
    </form>
</section>
<section id="section-table">
    <div class="table-container">
        <h2>Usuarios registrados</h2>
        <table>
            <thead>
                <tr>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th>Nombre Completo</th>
                  <th>Teléfono</th>
                  <th>Correo electrónico</th>
                  <!-- <th>Contraseña</th> -->
                  <th>Imagen</th>
                  <th>Perfil</th>
                </tr>
            </thead>
            <tbody id="tbodyUsers">
               <tr>
                <% for( let i = 0; i < users[0].data.length; i++ ) { %>
                 <th><a href="/profile/<%= users[0].data[i].id %>" class="fa-solid fa-user"></i></th>
                  <th><form method="GET" action="/edit/<%= users[0].data[i].id %>">
                    <button type="submit" id="delete-button" class="fa-solid fa-pen"></button></form></th>
                  <th><form action='/destroy/<%= users[0].data[i].id %>?_method=DELETE' method="post">
                    <button type="submit" id="delete-button" class="fa-solid fa-trash-can"></button></form></th>
                  <th><%= users[0].data[i].full_name%></th>
                  <th><%= users[0].data[i].phone_number%></th>
                  <th><%= users[0].data[i].email%></th>
                  <!-- <th><%= users[0].data[i].password%></th> -->
                  <th><img style="max-width: 30px;" src="images/profile/<%= users[0].data[i].avatar%>"</th>
                  <th><%= users[0].data[i].role%></th>
                </tr>
                <% } %>
            </tbody>
        </table>
    </div>
</section>
</main>
<%-include('./partials/footer.ejs') %>
<script src="/js/userRegisterValidations.js"></script>
</body>
</html>