<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Bienvenidos</title>
        <link rel="icon" href="images/cone1.png">
        <link rel="stylesheet" href="css/form.css">
        <link rel="stylesheet" href="css/styles.css">
        <link rel="stylesheet" href="static/ass/styles">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
        <script src="https://kit.fontawesome.com/2da8e91210.js" crossorigin="anonymous"></script>
    </head>
    <body>
        
       <%-include('./partials/header.ejs') %>
        <form class="form" method="POST" action="/login">

            <h1>Ingresa</h1>
            <div class="form-container">
                
                <div class="input-container">
                <i class="fas fa-envelope icon"></i>
                <input type="text" name="email" placeholder="Correo electrónico" value = "<%= locals.oldData ? oldData.email : null %>">
                </div>
                <% if (locals.errors && errors.email) {%>
             <small style="color: red ;"><%= errors.email.msg %></small>
             <% }%>
    
                <div class="input-container">
                <i class="fas fa-key icon"></i>
                <input type="password" name="password" placeholder="Contraseña">
                </div>
                <% if (locals.errors && errors.password) {%>
                    <small style="color: red ;"><%= errors.password.msg %></small>
                    <% }%>
                 <input type="submit" value="Ingresa" class="button">  
                 <br>
                 <br>
                <p>¿No tienes cuenta?<a class="link" href="/register">Registrate</a></p>
              
            </div>
        </form>
       <!--  <%-include('./partials/footer.ejs') %> -->
    </body>
</html>