<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Bienvenidos</title>
        <link rel="icon" href="images/conex.png">
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="stylesheet" href="/css/profile.css">
        <link rel="stylesheet" href="static/ass/styles">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
        <script src="https://kit.fontawesome.com/2da8e91210.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <%-include('./partials/header.ejs') %>
<main>
    <h1>Bienvenid@ <%= user.full_name %>!</h1>
    
    <div class="image">
        <img src="/images/profile/<%=user.avatar%>">
    </div>
    
    <div class = "profileField">
        <p>Nombre: <%= user.full_name%> </p>
    </div>
    <div class = "profileField">
        <p>Teléfono: <%= user.phone_number%> </p>
    </div>
    <div class = "profileField">
        <p>Email: <%= user.email%> </p>
    </div>
    <div class="buttonContainer"> 
    <div>
        <form action='/logout' method="GET" style="display: inline-flex">
            <button class="profileButton" type="submit" >Salir</button>
        </form>
    </div>
    <div>
        <form action='/edit/<%= user.id %>' method="get" style="display: inline-flex">
            <button class="profileButton" type="submit" >Editar</button>
        </form>
        <!-- <form action='/delete/<%= user.id %>?_method=DELETE' method="post" style="display: inline-flex">
            <button class="profileButton" type="submit" >Borrar</button>
        </form> -->
    </div>
    </div> 
</main>
<%-include('./partials/footer.ejs') %>
</body>
</html>